.catalogue-moduole-no-search-result-wrapper {
  height: 100vh;
  .no-search-result-img-wrapper {
    margin-top: 150px;
    background-image: url(../images/cartoon.png);
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @include media-breakpoint-down(md) {
      margin-top: 100px;
    }
    @include media-breakpoint-down(xs) {
      margin-top: 40px;
    }
  }
}
.catalogue-module-product-wrapper {
  @include media-breakpoint-up(md) {
    padding-left: 100px;
    padding-right: 100px;
  }
  .main-catalogue-img-wrapper {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include media-breakpoint-down(md) {
      height: 300px;
      background-size: contain;
    }
    @include media-breakpoint-down(xs) {
      background-size: cover;
    }
  }
}
